/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* CORPO */

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

/* HEADER */

header {
  background-color: #fcfcfc;
  border-bottom: 1px solid #eee;
}

.header-1 {
  background: #000;
  color: #fff;
}

.header-1-container {
  width: 1190px;
  height: 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header-1-col-1 {
  text-align: left;
}

.header-1-col-1 .btn-menu {
  display: none;
  width: 40px;
  height: 40px;
  background: #333;
  color: #ccc;
  font-size: 0.8em;
  text-align: center;
  line-height: 40px;
}

.header-1-col-1 a {
  margin-right: 5px;
  color: #fff;
  text-decoration: none;
}

.header-1-col-2 {
  text-align: center;
}

.header-1-col-2 .logo-icon {
  display: none;
}

.header-1-col-3 {
  text-align: right;
}

.header-1-col-3 a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  line-height: 42px;
}

.header-1-col-3 a span {
  vertical-align: middle;
}

.header-1-col-3 a i {
  vertical-align: middle;
}

.header-2-container {
  width: 1190px;
  height: 125px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  align-items: center;
}

.header-2 a {
  color: #000;
  text-decoration: none;
}

.header-2-logo img {
  width: 197px;
  height: auto;
}

.header-2-login form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 35% 35% 30%;
}

.header-2-login input {
  padding: 14px 5px 12px 15px;
  border: 1px solid #ccc;
}

.header-2-login input[type='email'] {
  border-radius: 2px 0 0 2px;
}

.header-2-login input[type='password'] {
  border-radius: 0 2px 2px 0;
}

.header-2-login .btn-login {
  margin-left: 5px;
  border-radius: 2px;
  background-image: linear-gradient(71deg, #d20108, #f80 73%, #f9b600);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.5s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-2-login-sign {
  margin-top: 6px;
}

.header-2-cambio {
  padding-left: 30px;
  font-size: 1.3em;
  line-height: 1.2em;
}

.header-2-climate {
  padding-left: 20px;
  font-size: 1.3em;
  line-height: 1.2em;
}

.header-2-search input {
  padding: 14px 5px 12px 15px;
  border: 1px solid #ccc;
}

.header-3-container {
  width: 1190px;
  margin: 0 auto;
}

.header-3 ul {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-top: 3px solid #000;
  list-style: none;
}

.header-3 ul li {
  padding: 15px;
  height: 100%;
}

.header-3 ul li:hover {
  border-top: 8px solid #d20108;
  margin-top: -3px;
  padding-top: 10px;
}

.header-3 ul li a {
  color: #000;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.news-container {
  width: 1190px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin-top: 30px;
}

.news-hightlight {
  padding: 10px;
  color: #fff;
  background-image: linear-gradient(92deg, #da0104, #9e0305);
  border-radius: 5px 0 0 5px;
  text-transform: uppercase;
  font-size: 1.1em;
}

.news-main {
  padding: 10px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.news-main img {
  width: 100%;
  height: auto;
}

.news-main .news-main-text {
  padding: 15px;
  color: #9e0305;
}

.news-main .news-main-title {
  padding: 15px;
  font-size: 3em;
}

.news-main .news-main-subtitle {
  padding: 15px;
  font-size: 1.1em;
}

.news-tag {
  padding: 5px;
  margin: 5px 10px;
  border-left: 4px solid #cb0003;
  font-size: 1.1em;
}

.news-box-left-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.news-card {
  margin: 10px;
}

.news-card .news-image img {
  width: 100%;
  height: auto;
}

.news-card .news-text {
  margin: 5px 0;
  font-size: 1em;
  color: #cb0003;
}

.news-card .news-title {
  margin: 5px 0;
  font-size: 1.4em;
}

.news-slide {
  background: #eee;
  margin: 0 10px;
  padding: 10px;
}

.news-slide-content {
  background: #eee;
  margin: 0 10px;
  padding: 10px;
}

.news-slide-title {
  font-size: 1em;
  padding: 15px;
  background: #fff;
  color: #cb0003;
}

.news-slide img {
  width: 100%;
  height: auto;
  z-index: 1;
}

.news-slide figcaption {
  position: absolute;
  display: block;
  bottom: 0px;
  color: white;
  font-size: 2.2em;
  padding: 20px;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 2;
}

.news-slide figure {
  position: relative;
}

.news-box-right-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer {
  color: #fff;
  background: #000;
  text-align: center;
  padding: 25px;
}

@media (max-width: 1190px) {
  .header-1-container {
    width: 100%;
  }

  .header-1-col-1 .btn-menu {
    display: block;
  }

  .header-1-col-1 a {
    display: none;
  }

  .header-1-col-2 .logo-icon {
    display: block;
  }

  .header-1-col-2 .date-now {
    display: none;
  }

  .header-1-col-3 a span {
    display: none;
  }

  .header-2-container {
    display: none;
  }

  .header-3-container {
    display: none;
  }

  .news-container {
    width: 100%;
    grid-template-columns: 1fr;
    margin-top: 30px;
  }

  .news-main {
    padding: 10px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .news-box-left-container {
    grid-template-columns: 1fr;
  }

  .news-box-right-container {
    grid-template-columns: 1fr;
  }
}
